* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
  color: #3d4451;
  line-height: 1;
  min-width: 940px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* loading 动画 */
/* copy from https://github.com/ConnorAtherton/loaders.css/blob/master/loaders.css */
.pacman {
  position: relative;
}

.pacman>div:nth-child(2) {
  -webkit-animation: pacman-balls 1s -0.99s infinite linear;
  animation: pacman-balls 1s -0.99s infinite linear;
}

.pacman>div:nth-child(3) {
  -webkit-animation: pacman-balls 1s -0.66s infinite linear;
  animation: pacman-balls 1s -0.66s infinite linear;
}

.pacman>div:nth-child(4) {
  -webkit-animation: pacman-balls 1s -0.33s infinite linear;
  animation: pacman-balls 1s -0.33s infinite linear;
}

.pacman>div:nth-child(5) {
  -webkit-animation: pacman-balls 1s 0s infinite linear;
  animation: pacman-balls 1s 0s infinite linear;
}

.pacman>div:first-of-type {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  border-left: 25px solid #fff;
  border-bottom: 25px solid #fff;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
  animation: rotate_pacman_half_up 0.5s 0s infinite;
  position: relative;
  left: -30px;
}

.pacman>div:nth-child(2) {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  border-left: 25px solid #fff;
  border-bottom: 25px solid #fff;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
  animation: rotate_pacman_half_down 0.5s 0s infinite;
  margin-top: -50px;
  position: relative;
  left: -30px;
}

.pacman>div:nth-child(3), .pacman>div:nth-child(4), .pacman>div:nth-child(5), .pacman>div:nth-child(6) {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform: translate(0, -6.25px);
  transform: translate(0, -6.25px);
  top: 25px;
  left: 70px;
}

@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

.square-spin>div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

@-webkit-keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes pacman-balls {
  75% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}

@keyframes pacman-balls {
  75% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}

/* loading 动画end */

.bs-container {
  max-width: 940px;
  margin: 0 auto;
}

.bs-box-shadow {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.bs-clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.bs-align-center {
  text-align: center;
}
[data-pop] {
  transform: translateY(0);
  transition: transform 0.5s;
}
.scroll-offset {
  transform: translateY(100px);
}

.scroll-offset .skill>.skill__progress-bar>.skill__progress {
  width: 0%;
}

/* .scroll-active {
} */

/* .scroll-animate {
  transform: translateY(0);
} */
/* 
@keyframes slideup {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
} */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6686a;
  z-index: 1000;
}

.loading--disable {
  display: none;
}

.loading > .pacman {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 20px 16px;
  color: #b7b7b7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-bar--sticky {
  background-color: #ffffff;
  padding: 14px 16px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: #3d4451;
}

.nav-bar__hd {
  float: left;
  padding: 8px 0;
}

.log {
  font-size: 0;
}

.logo-text {
  display: inline-block;
  font-size: 24px;
  font-family: "Arial Black";
  color: #9a9da2;
}

.logo-text+.logo-text {
  margin-left: 4px;
}

.logo-text--primary {
  color: #e6686a;
}

.nav-bar__bd {
  float: right;
  padding: 9px 0;
}

.navs__item {
  float: left;
  margin: 0 17px;
}

.navs__link {
  display: block;
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  padding: 5px 0;
}

.hoverdown {
  position: relative;
}

.hoverdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  color: #3d4451;
  font-size: 16px;
  margin-top: 6px;
}

.hoverdown__menu:hover {
  cursor: pointer;
}

.hoverdown__item {
  white-space: nowrap;
  background-color: #ffffff;
  padding: 8px 12px;
  text-align: right;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hoverdown__item:hover {
  background-color: #f2f2f2;
}

.hoverdown__mtitle {
  position: relative;
}

.hoverdown__active .hoverdown__mtitle:after,
.hoverdown__highlight .hoverdown__mtitle:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 0;
  width: 100%;
  border-bottom: 3px solid #e06567;
  -webkit-animation: hoverTitleBorder 0.4s;
          animation: hoverTitleBorder 0.4s;
}

@-webkit-keyframes hoverTitleBorder {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes hoverTitleBorder {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.hoverdown__active .hoverdown__menu {
  display: block;
  -webkit-animation: hoverdownSlide 0.4s;
          animation: hoverdownSlide 0.4s;
}

@-webkit-keyframes hoverdownSlide {
  0% {
    /* 百分比，相对于父级宽度 */
    margin-right: 100%;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes hoverdownSlide {
  0% {
    /* 百分比，相对于父级宽度 */
    margin-right: 100%;
  }
  100% {
    margin-right: 0;
  }
}

.banner {
  position: relative;
  padding-top: 41.454545%;
  background-image: url('./images/rs-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.card {
  position: relative;
  background-color: #ffffff;
  /* 占banner的一半 */
  margin-top: -20.727272%;
  /* box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4); */
}

.card__bd {
  padding: 50px;
}

.card__avatar {
  float: left;
}

.card__avatar img {
  vertical-align: middle;
}

.card__profile {
  margin-left: 65px;
  width: 476px;
  float: left;
}

.card__profile .welcome {
  position: relative;
  display: inline-block;
  background-color: #e6686a;
  color: #ffffff;
  /* 防止在不同机器上行高不同 */
  line-height: 22px;
  padding: 4px 15px;
}

.card__profile .welcome .triangle {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 4px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #e6686a;
  border-top-width: 0;
}

.card__profile h1 {
  margin-top: 28px;
}

.card__profile p {
  margin-top: 16px;
}

.card__profile hr {
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card__profile dl dt, .card__profile dl dd {
  float: left;
  padding: 15px 0;
}

.card__profile dl dt {
  width: 30%;
  font-weight: bold;
}

.card__profile dl dd {
  width: 70%;
  color: #9da0a7;
}

.card__ft {
  background-color: #e6686a;
}

.medias {
  text-align: center;
  font-size: 0;
  padding: 11px;
}

.medias .media {
  display: inline-block;
  margin: 0 16px;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.medias .media:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.medias .media__icon {
  width: 28px;
  height: 28px;
  fill: #ffffff;
}

.download {
  display: inline-block;
  font-size: 14px;
  padding: 22px 56px;
  border: 1px solid #cdcfd1;
  font-weight: bold;
  background-color: #efefef;
  border-radius: 6px;
  margin-top: 32px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.download:hover {
  -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
}

.description {
  margin-top: 22px;
  font-size: 18px;
  line-height: 1.6;
  font-family: kai;
}

.section {
  margin-top: 60px;
}

.section__title {
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}

.skills__content {
  margin-top: 30px;
  background-color: #ffffff;
  padding: 40px 50px 0 50px;
}

.skill {
  float: left;
  width: 48%;
  margin-right: 4%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skill__progress {
  transition: width 0.8s;
}

.skill:nth-child(even) {
  margin-right: 0;
}

.skill:nth-child(1) .skill__progress {
  width: 60%;
}

.skill:nth-child(2) .skill__progress {
  width: 65%;
}

.skill:nth-child(3) .skill__progress {
  width: 70%;
}

.skill:nth-child(4) .skill__progress {
  width: 60%;
}

.skill:nth-child(5) .skill__progress {
  width: 65%;
}

.skill:nth-child(6) .skill__progress {
  width: 70%;
}

.skill__name {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}

.skill__progress-bar {
  height: 5px;
  background-color: #fae1e1;
  margin-top: 4px;
  margin-bottom: 40px;
}

.skill__progress {
  width: 50%;
  height: 100%;
  background-color: #e6686a;
}

.skill__progress-bar, .skill__progress {
  border-radius: 2px;
}

.tabnav {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
}

.tabnav>ol {
  display: inline-block;
  vertical-align: middle;
}

.tabnav__item {
  float: left;
}

.tabnav__item+.tabnav__item {
  margin-left: 40px;
}

.tabnav__bar {
  margin-top: 8px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 3px;
}

.tabnav__bar-inner {
  height: 100%;
  width: 34px;
  background-color: #e6686a;
  border-radius: 3px;
}

.works__content {
  margin-top: 30px;
  position: relative;
  height: 597px;
  /* border: 1px solid red; */
}

.work {
  position: absolute;
}

.work>img {
  vertical-align: middle;
}